/* Admin Login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
}

#login-form input[type="submit"] {
    background-color: #1e90ff; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-form input[type="submit"]:hover {
    background-color: #007bff; 
}

#login-message {
    color: #e74c3c; 
    font-size: 14px;
    margin-top: 10px;
}

/* Styles for the navigate button and add admin button */
#navigate-btn{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#navigate-btn:hover {
    background-color: #218838; 
}

#add-admin-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #620404;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-admin-btn:hover {
    background-color: #37075e; 
}

