body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#modify-student-form {
  max-width: 700px;
  width: 350px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #1a048a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bolder;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #4a32c2;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button[type="button"] {
  font-weight: bold;
  background-color: #2348af;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button[type="button"]:hover {
  background-color: #e0d509;
  color: #4a32c2;
}
